streamlit
langchain
langchain-core
langchain-text-splitters
langchain-google-genai
langchain_community
google-generativeai
sentence-transformers
faiss-cpu
PyPDF2
python-docx
tiktoken
lxml
