streamlit
python-dotenv
pypdf
python-docx
langchain
langchain-core
langchain-community
langchain-google-vertexai
langchain-text-splitters
langchain-huggingface
faiss-cpu
sentence-transformers
